.first-generation {
  background-color:#1dd2af;
}

.second-generation {
  background-color:#2ecc71;
}

.third-generation {
  background-color:#27ae60;
}

.fourth-generation {
  background-color:#3498db;
}

.fifth-generation {
  background-color:#2980b9;
}

.sixth-generation {
  background-color:#9b59b6;
}

.seventh-generation {
  background-color:#8e44ad;
}

.eighth-generation {
  background-color:#34495e;
}

.title-generation {
    color: white;
    text-align: left;
    padding: 5px;
    margin: 0;
}

.generation-period {
  font-size: 60%;
}

body {
    background-color: #3498db;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

h1 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow:2px 3px 0 rgba(0,0,0,.11);
}

h1#title {
    font-size: 85px;
}

#github-buttons {
    background-color: #2980b9;
    height: 50px;
    padding-left: 43%;
    padding-top: 1%;
}


.box {
    background-color: #ffffff;
    width: 50%;
    height: 50px;
    margin-left: 25%;
    margin-right: 25%;
    list-style: none;
    padding: 1%;
    margin-top: 1%;
    box-shadow:0 5px 5px rgba(0,0,0,.05);
}

.box.year{
    background-color: #2980b9;
    height: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.box.super{
    background-color: #34495e;
    width: 51%;
    margin-left: 24.5%;
    margin-right: 24.5%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.data {
    color: #95a5a6;
    font-size: 15px;
    width: 8%;
}

.title {
    float: left;
    display: block;
    font-size: 20px;
    margin-left: 3px;
}

.score {
    display: block;
    margin-left: 350px;
    color: #f1c40f;
	font-size: 30px;
}

.tags {
    margin-top: 1%;
    color: white;
}

.positive {
    float: left;
}

.negative {
    float: left;
}

.positive div{
    background-color: #2ecc71;
}

.negative div{
    background-color: #EE8277;
}

.tag {
    display: none;
    padding: 10px;
    border: solid;
    border-radius: 6px;
}

#total-games {
    text-align: center;
    color: white;
    font-size: 15px;
}

/*
    <=== Footer ===>
*/

footer {
    margin-top: 10%;
    width: 100%;
    height: auto;
    bottom: 0;
    background: #2E2E2E;
    float: left;
    position: relative;

}

.footerScore {
    display: block;
    margin-left: 10%;
	font-size: 20px;
    list-style-type: none;
}

.rank-masterpiece {
    color: #f1c40f;
}

.rank-great {
    color: #ffe168;
}

.rank-good {
    color: #bdc3c7;
}

.rank-bad {
    color: #e74c3c;
}

.rank-avoid {
    color: #8d3026;
}

/* Stars Glow Effect*/
.rank-masterpiece {
  color: #f1c40f;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: masterpiece 3s ease-in-out infinite alternate;
  -moz-animation: masterpiece 3s ease-in-out infinite alternate;
  animation: masterpiece 3s ease-in-out infinite alternate;
  animation-iteration-count:infinite;
}

@-webkit-keyframes masterpiece {
  from{
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #f1c40f, 0 0 6px #f1c40f, 0 0 7px #f1c40f, 0 0 8px #f1c40f, 0 0 10px #f1c40f;
  }
  to {
    text-shadow: 0 0 0 0, 0 0 1px #f1c40f, 0 0 2px #f1c40f, 0 0 3px #f1c40f, 0 0 4px #f1c40f;
  }
}

.rank-great {
  color: #ffe168;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: great 3s ease-in-out infinite alternate;
  -moz-animation: great 3s ease-in-out infinite alternate;
  animation: great 3s ease-in-out infinite alternate;
  animation-iteration-count:infinite;
}

@-webkit-keyframes great {
  from{
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ffe168, 0 0 6px #ffe168, 0 0 7px #ffe168, 0 0 8px #ffe168, 0 0 10px #ffe168;
  }
  to {
    text-shadow: 0 0 0 0, 0 0 1px #ffe168, 0 0 2px #ffe168, 0 0 3px #ffe168, 0 0 4px #ffe168;
  }
}

.rank-good {
  color: #bdc3c7;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: good 3s ease-in-out infinite alternate;
  -moz-animation: good 3s ease-in-out infinite alternate;
  animation: good 3s ease-in-out infinite alternate;
  animation-iteration-count:infinite;
}

@-webkit-keyframes good {
  from{
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #bdc3c7, 0 0 6px #bdc3c7, 0 0 7px #bdc3c7, 0 0 8px #bdc3c7, 0 0 10px #bdc3c7;
  }
  to {
    text-shadow: 0 0 0 0, 0 0 1px #bdc3c7, 0 0 2px #bdc3c7, 0 0 3px #bdc3c7, 0 0 4px #bdc3c7;
  }
}

.rank-bad {
  color: #cd7f32;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: bad 3s ease-in-out infinite alternate;
  -moz-animation: bad 3s ease-in-out infinite alternate;
  animation: bad 3s ease-in-out infinite alternate;
  animation-iteration-count:infinite;
}

@-webkit-keyframes bad {
  from{
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #cd7f32, 0 0 6px #cd7f32, 0 0 7px #cd7f32, 0 0 8px #cd7f32, 0 0 10px #cd7f32;
  }
  to {
    text-shadow: 0 0 0 0, 0 0 1px #cd7f32, 0 0 2px #cd7f32, 0 0 3px #cd7f32, 0 0 4px #cd7f32;
  }
}

.rank-avoid {
  color: #e74c3c;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: avoid 3s ease-in-out infinite alternate;
  -moz-animation: avoid 3s ease-in-out infinite alternate;
  animation: avoid 3s ease-in-out infinite alternate;
  animation-iteration-count:infinite;
}

@-webkit-keyframes avoid {
  from{
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #e74c3c, 0 0 6px #e74c3c, 0 0 7px #e74c3c, 0 0 8px #e74c3c, 0 0 10px #e74c3c;
  }
  to {
    text-shadow: 0 0 0 0, 0 0 1px #e74c3c, 0 0 2px #e74c3c, 0 0 3px #e74c3c, 0 0 4px #e74c3c;
  }
}
