
body {
    background-color: #3498db;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.title {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow:2px 3px 0 rgba(0,0,0,.11);
}

#github-buttons {
    background-color: #2980b9;
    height: 50px;
    padding-left: 43%;
    padding-top: 1%;
}

.first-generation {
  background-color:#1dd2af;
}

.second-generation {
  background-color:#2ecc71;
}

.third-generation {
  background-color:#27ae60;
}

.fourth-generation {
  background-color:#3498db;
}

.fifth-generation {
  background-color:#2980b9;
}

.sixth-generation {
  background-color:#9b59b6;
}

.seventh-generation {
  background-color:#8e44ad;
}

.eighth-generation {
  background-color:#34495e;
}

.title-generation {
    color: white;
    text-align: left;
    padding: 5px;
    margin: 0;
}

.generation-period {
  font-size: 60%;
}

/*
    <=== Game ===>
*/
.game-release-year {
  color: white;
  padding: 0px;
  margin: 0px;
}

.game-title {
  color: white;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.game-description {
  width: 50%;
  margin: 0 auto;
}

.game-image {
  width:128px;
  height:128px;
  border-radius: 10px;
}

.game-video {
  text-decoration: none;
  color: #eb6e60
}
/*
    <=== Footer ===>
*/

footer {
    width: 100%;
    height: auto;
    bottom: 0;
    background: #2E2E2E;
    float: left;
    position: relative;
}



@media (max-width: 767px)
{
  .title {
    font-size: 35px;
  }

  .game-description {
    width: 100%;
  }

  .fork-me {
    visibility: hidden;
  }
}
