body {
    background-color: #2E2E2E;
}

#container {
    background-color: #3498db;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.title {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-shadow:2px 3px 0 rgba(0,0,0,.11);
}

#github-buttons {
    background-color: #2980b9;
    text-align: center;
    padding: 1%;
}

footer {
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #2E2E2E;
    float: left;
    position: relative;
}

@media (max-width: 767px)
{
  .title {
    font-size: 35px;
  }

  .game-description {
    width: 100%;
  }

  .fork-me {
    visibility: hidden;
  }
}
